@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'TASA Orbiter Display';
    src: url('/fonts/tasa-orbiter-display/tasa-orbiter-display-regular.woff') format('woff');
    font-weight: 400;
  }
  @font-face {
    font-family: 'TASA Orbiter Display';
    src: url('/fonts/tasa-orbiter-display/tasa-orbiter-display-medium.woff') format('woff');
    font-weight: 500;
  }
  @font-face {
    font-family: 'TASA Orbiter Display';
    src: url('/fonts/tasa-orbiter-display/tasa-orbiter-display-semibold.woff') format('woff');
    font-weight: 600;
  }
  @font-face {
    font-family: 'TASA Orbiter Display';
    src: url('/fonts/tasa-orbiter-display/tasa-orbiter-display-bold.woff') format('woff');
    font-weight: 700;
  }
  @font-face {
    font-family: 'TASA Orbiter Display';
    src: url('/fonts/tasa-orbiter-display/tasa-orbiter-display-Black.woff') format('woff');
    font-weight: 900;
  }
  @font-face {
    font-family: 'NB Architekt';
    src: url('/fonts/nb-architekt/nb-architekt-light.otf') format('opentype');
    font-weight: 300;
  }
  @font-face {
    font-family: 'NB Architekt';
    src: url('/fonts/nb-architekt/nb-architekt-regular.otf') format('opentype');
    font-weight: 400;
  }

  html {
    @apply scroll-smooth;
  }
}
